body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1280px;
	margin: 10px auto;
	font-family: "Verdana";
	touch-action: pan-x pan-y;
}

h1 {
	text-align: center;
	color: white;
	font-size: 40px;
}

h2 {
	color: white;
	text-align: center;
	font-size: 24px;
	margin: 5px 0 5px 0;
}

ul {
	padding-left: 1.4em;
}

li {
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

input {
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-weight: bold;
}

input[type='checkbox'] {
	position: absolute;
	width: 0;
	height: 0;
}

.main_contents_wrap {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.sub_contents_wrap {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}

.main_contents_wrap > div{
	width: 98%;
	margin: 5px auto;
}

.main_contents_wrap input {
	width: 100%;
}

.result {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	line-height: 1.4em;
	font-size: 24px;
	font-weight: bold;
}

.block-title {
	text-align: center;
}

.block-title p {
	font-weight: bold;
	font-size: 32px;
	line-height: 1.4em;
	margin: 5px auto;
}

.block-data {
	text-align: center;
}

.block-data input[type="text"] {
	height: 1.4em;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.block-data p {
	line-height: 1.4em;
	font-size: 32px;
	font-weight: bold;
}

.inline-title {
	width: 49%;
	text-align: left;
}
.inline-title>input {
	width: 50%;
	height: 1.4em;
	font-size: inherit;
	float: right;
}

.inline-data {
	width: 49%;
	text-align: right;
}

.setting_item {
	margin: 10px 0 10px 0;
	color: white;
	vertical-align: middle;
}

.setting_item > .title {
	display: flex;
	justify-content: center;
	height: 30px;
	line-height: 30px;
	position: relative;
	float: left;
	vertical-align: middle;
}

.switch_label {
	display: flex;
	align-items: center;
}

input[type='checkbox'] {
	position: absolute;
	width: 0;
	height: 0;
}

.base {
	width: 54px;
	border: white 2px solid;
	border-radius: 21px;
	height: 30px;
	background-color: dimgray;
}

.title {
	margin-left: 4px;
}

.switch {
	position: relative;
	float: right;
}

.circle {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: white;
}

input:checked ~ .base {
	background-color: forestgreen;
}

input:checked ~ .circle {
	transform: translateX(100%);
	background-color: white;
}

#reset_button_explus,
#reset_button_ex {
	margin-top: 3px;
	margin-bottom: 3px;
	height: 30px;
	font-size: 18px;
	vertical-align: middle;
	border-radius: 3px;
}